body {
    background:url("../images/got1.jpg");
}

h3 {
    color:white;
    font-family: 'Cinzel', serif;
    font-weight:bold;
}

#timer {
    color:white;
}

.jumbotron {
    opacity:0.7;
    font-family: 'Cinzel', serif;
    font-weight:bold;
}

.answers {
    font-family: 'Cinzel', serif;
}

#timer {
    font-family: 'Cinzel', serif;
    font-size:20px;
   
}

#result {
    color:white;
}

